.container {
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 2.5rem 1rem;
  background-color: rgba(118, 118, 118, 0.5);
  border-radius: 12px;
  box-shadow: inset -2px -2px 5px 0px rgba(255, 255, 255, 0.3);
  color: white;
}

.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: white;
  -webkit-text-stroke: 1px black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.input_container label {
  font-size: 1.1rem;
}

.input_container input {
  border-radius: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}

.input_container input:focus {
  background-color: #f0f0f0;
  border-color: #006aff; /* Cambiar color del borde cuando está enfocado */
  outline: #006aff99; /* Eliminar el borde predeterminado del enfoque */
  box-shadow: 0px 0px 10px 1px rgba(65, 84, 255, 0.5);
}

.input_container textarea {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  resize: none;
  width: 100%;
  height: 8rem;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-self: center;
  padding: 8px 10px; /* Espaciado interno para el botón */
  background-color: #00aaff; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px;
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  font-size: 0.9rem;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  transform: translateY(3px);
}

.button_edit {
  margin-top: 1rem;
  align-self: center;
  padding: 10px 20px; /* Espaciado interno para el botón */
  background-color: #1504fc; /* Color de fondo del botón */
  color: #fff; /* Color de texto del botón */
  border: none; /* Sin borde */
  border-radius: 5px;
  cursor: pointer; /* Cambiar el cursor al pasar por encima */
  font-size: 16px;
}

.button_edit:hover {
  background-color: #00b383;
}

.button_edit:active {
  transform: translateY(3px);
}

.link_registro {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 1.1rem;
  font-style: oblique;
}

.ul_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul_info li {
  list-style: none;
  font-size: 0.84rem;
}

@media (max-width: 600px) {
  .container {
    max-width: 80%;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .title {
    font-size: 2.5rem;
    -webkit-text-stroke: 0.5px black;
  }

  .ul_info li {
    list-style: none;
    font-size: 0.74rem;
  }
}
