.container {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  text-align: center;
  color: black;
}

.title {
  border-radius: 12px 12px 3px 3px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: white;
  -webkit-text-stroke: 1px black;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* Estilos generales de la lista de tareas */
.task_list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

/* Estilos de cada elemento de la lista de tareas */
.task_item {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.75);
}

/* Estilos del encabezado */
.task_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
}

.task_title {
  font-size: 1.2rem;
}

.task_user {
  color: #888;
}

.user_name {
  font-weight: bold;
}

/* Estilos de los detalles de la tarea */
.task_details {
  padding: 0.5rem;
  text-align: start;
}

.task_description {
  font-size: 1rem;
}

/* Estilos del pie de página */
.task_footer {
  padding: 0.5rem 0rem 0rem 0rem;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.2);
}

.task_created_at {
  color: #888;
  font-size: 0.8rem;
  align-self: center;
}

.container_button button {
  border-radius: 12px;
  padding: 5px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.delete_button {
  background-color: #ff4d4d;
  margin-right: 10px;
}

.edit_button {
  background-color: #3399ff;
}

.no_tasks {
  font-size: 2rem;
  color: #ffffff;
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }

  .title {
    font-size: 1.8rem;
  }

  .task_item {
    width: 95%;
  }

  .task_header {
  }

  .task_title {
    font-size: 1rem;
  }

  .task_user {
    font-size: 0.75rem;
  }

  .task_details {
  }

  .task_description {
    font-size: 0.9rem;
  }
}
